.button-menu{
    color: white;
    text-decoration: none;
    font-size: 28px;
    background-color: transparent;
    padding: 2px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button-menu:hover{
    background-color: #28282b;
}