.menu-lateral{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10%;
}
.menu-lateral div{
    margin-bottom: 2%;
}

.home{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.post{
    width: 80%;
}
.outro{
    display: none;
}
.menu-lateral p{
    display: none;
}
.menu-lateral div{
    display: none;
}

    
    @media only screen and (min-width: 601px) {

        .menu-lateral div{
            display: flex;
            justify-content: center;
        }
    }
      
    @media only screen and (min-width: 993px) {
        .post{
            width: 50%;
        }
        .outro{
            display: inline;
            width: 30%;
        }
        .menu-lateral p{
            display: inline;
            
        }
        .menu-lateral{
            width: 20%;
        }
        
    }